name: Release gfy cli

on:
  workflow_dispatch:

jobs:
  build-and-release:
    strategy:
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Run Rust cross-compile action
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: gfy
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
